<form action="/books" method="post" class="myform">
    <div class="container">
        <div class="col-mb-3">
            <div class="col" >
                <h2>Καλωσορίσατε</h2>
            </div>
        </div>
        <fieldset class="border p-2 mb-3">
            <legend class="m-auto">Σύνδεση Χρήστη</legend>
            <div class="row mb-3">
                <div class="col-md-2 col-sm-12 justify-content-end d-flex">
                    <label for="newBookTitle" class="col-form-label">Όνομα Χρήστη</label>
                </div>
                <div class="col-md-10 col-sm-10">
                    <input type="text" class="form-control id="username" name="username" placeholder="Όνομα Χρήστη" required>
                    <div class="valid-feedback">OK</div>
                </div>
            </div>
        </fieldset>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary mb3 w-100">Υποβολή</button>
            </div>
        </div>
    </div>
</form>